*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html{
 font-family: sans-serif;
}

body{
 background: rgb(255, 255, 255);
 padding: 0 16px;
 background-image: URL(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkcBr6w43w0zKgTA8qW-_8ILPvtdXK-O5MBMeYMQtN&s);
 background-size:cover;
}

.card{
 margin : 5px;
 
}